<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
        <label for="userName">Username</label>
        <input id="userName" formControlName="userName" type="text" class="form-control">
        <small *ngIf="registerForm.get('userName')?.errors?.['required'] && registerForm.get('userName')?.touched" class="invalid-message">
            Username is required.
        </small>
        <small *ngIf="registerForm.get('userName')?.errors?.['minlength']" class="invalid-message">
            It must be at least 3 characters long.
        </small>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control">
        <small *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="invalid-message">
            A valid email is required.
        </small>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <div class="password-container">
            <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"
                class="form-control">
            <button type="button" (click)="togglePasswordVisibility()" class="toggle-button">
                {{ showPassword ? 'Gizle' : 'Göster' }}
            </button>
        </div>
        <small *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched"
            class="invalid-message">
            Password is required.
        </small>
        <small *ngIf="registerForm.get('password')?.errors?.['pattern']" class="invalid-message">
            It must be at least 8 characters long and contain uppercase letters,<br> lowercase letters, numbers and special characters.
        </small>
    </div>

    <button type="submit" [disabled]="registerForm.invalid" class="submit-button">Gönder</button>
</form> -->
<h1>Sign Up for Free</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="field-wrap">
        <label for="userName">
            Username<span class="req">*</span>
        </label>
        <input id="userName" formControlName="userName" type="text" required autocomplete="off"
            (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (input)="handleInputChange($event)" />
    </div>

    <div class="field-wrap">
        <label for="email">
            Email<span class="req">*</span>
        </label>
        <input id="email" formControlName="email" type="email" required autocomplete="off"
            (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (input)="handleInputChange($event)" />
    </div>

    <div class="field-wrap">
        <label for="password">
            Password<span class="req">*</span>
        </label>
        <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" required
            autocomplete="off" (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)"
            (input)="handleInputChange($event)" />
        <button *ngIf="registerForm.get('password')?.value.length > 0" type="button"
            (click)="togglePasswordVisibility()" class="toggle-button">
            <span *ngIf="showPassword" class="hide">
                <i class="pi pi-eye-slash"></i>
            </span>
            <span *ngIf="!showPassword" class="show">
                <i class="pi pi-eye"></i>
            </span>
        </button>
    </div>

    <button type="submit" [disabled]="!registerForm.valid" class="button button-block">Get Started</button>
</form>