@import "primeng/resources/themes/aura-light-amber/theme.css";

:root {
    --darkmode-button-bg: #ffffff;
    --darkmode-button-border-color: #c0baba;
    --darkmode-icon-color: #ff8a04f3;
    --darkmode-button-hover-color: #ffffff;
    --darkmode-button-hover-bg: #dbdbdb;

    --authbutton-button-bg: #314a5e;
    --authbutton-button-color: #e4e4e4;
    --authbutton-button-border-color: #314a5e;
    --authbutton-button-hover-color: #ffffff;
    --authbutton-button-hover-bg: #353535;

    --navbar-bg: #ffffff;
    --navbar-color: #4f4f55;
    --navbar-color-hover: #000000;
    --navbar-border-color: #dfdfdf;
}