@import "primeng/resources/themes/aura-dark-amber/theme.css";

:root {
    --darkmode-button-bg: #2a2a2a;
    --darkmode-button-border-color: #616161;
    --darkmode-icon-color: #9191ff;
    --darkmode-button-hover-color: #ffffff;
    --darkmode-button-hover-bg: #353535;

    --authbutton-button-bg: #1A2A37;
    --authbutton-button-color: #ffffff;
    --authbutton-button-border-color: #1A2A37;
    --authbutton-button-hover-color: #ffffff;
    --authbutton-button-hover-bg: #353535;

    --navbar-bg: #454547;
    --navbar-color: #4f4f55;
    --navbar-color-hover: #ffffff;
    --navbar-border-color: #fcfcfc;
}