<div class="content-container">
    <div class="content">
        <div class="home">
            <a routerLink="./../homepage"><i class="pi pi-home"></i></a>
        </div>
        <div class="form-card">
            <ul class="tab-group">
                <li id="tab-register" class="tab"><a [routerLink]="['register']">Sign Up</a>
                </li>
                <li id="tab-login" class="tab"><a [routerLink]="['login']">Log In</a></li>
            </ul>

            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>