<p-toast autoZIndex="true"/>
<h1>Welcome Back!</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field-wrap">
        <label for="email">
            Email<span class="req">*</span>
        </label>
        <input id="email" formControlName="email" type="email" required autocomplete="off"
            (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (input)="handleInputChange($event)" />
    </div>

    <div class="field-wrap">
        <label for="password">
            Password<span class="req">*</span>
        </label>
        <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" required autocomplete="off"
            (focus)="handleInputFocus($event)" (blur)="handleInputBlur($event)" (input)="handleInputChange($event)" />
        <button *ngIf="loginForm.get('password')?.value.length > 0" type="button" (click)="togglePasswordVisibility()"
            class="toggle-button">
            <span *ngIf="showPassword" class="hide">
                <i class="pi pi-eye-slash"></i>
            </span>
            <span *ngIf="!showPassword" class="show">
                <i class="pi pi-eye"></i>
            </span>
        </button>
    </div>

    <button type="submit" [disabled]="submitted" class="button button-block">Log In</button>
</form>