.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;

    .comment-author-info {
        display: flex;
        flex-direction: row;
        align-items: center;

        .comment-author-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 5px;
            user-select: none;
        }

        .comment-author-name {
            margin: 0;
            padding: 0;
        }
    }

    .comment-control {
        border: 1px solid var(--darkmode-button-border-color);
        background-color: transparent;
        border-radius: 50%;
        margin-left: 5px;
    }
}

.comment-content {
    font-size: 1rem;
    color: var(--comment-color);
    margin: 0 32px 0 5px;
}

.comment-footer {
    padding: 10px 0;
    border-bottom: 1px solid var(--comment-seperator);

    .comment-date {
        font-size: 0.80rem;
        color: var(--comment-color-secondary);
        margin: 0;
        padding-left: 5px;
    }

    .nested-comments {
        padding: 10px 0 0 27px;

        .comment-footer {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.mirror-icon {
    transform: scaleX(-1);
}